@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
}
.banner{
    background-image: url(../resources/Banner\ Image.png);
    padding: 177px 344px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 50px 140px 120px 140px;
    border-radius: 16px;
    position: relative;
    
}
.banner-title{
    color: #FFF;

text-align: center;

font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin: 0 auto;
}
.banner-part{
    color: #FFF;
   
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 90px; 
width: 632px;
margin: 0 auto;
}
/* main */
.contact-title{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 88px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.contact-part{
    color: #F00;

text-align: center;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.contact-rezo{
    color: #070211;

text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}
.banner-description{
    padding: 126px 138px 127px 126px;
    margin: 120px 120px 140px;
    background-image: url(../resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    position: relative;
    width: 950px;
height: 500px; 
}


.description-title{
    color: #FFF;
width: 632px;
font-family: Merriweather;
font-size: 64px;
font-style: normal;
font-weight: 900;
line-height: 88px; /* 137.5% */
letter-spacing: 7.04px;
}
.description-part{
    color: rgba(255, 255, 255, 0.80);
    width: 697px;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
}
.picture{
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0; 
}
.logo{
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    color: #FFF;
}



.mum{
margin: 50px 120px 140px;
background: linear-gradient( 180deg, rgba(255,0,0,0.1) 0%,
rgba(255,0,0,0)100%);
padding: 100px 280px 110px 280px;
text-align: center;
}
.hed{
    color: #070211;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 56px;
text-transform: capitalize;
}
.red{
    color: #F00;

font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 56px; 
text-transform: capitalize;
}
.join{
    border-radius: 8px;
background: #F00;
    display: inline-flex;
padding: 16px 32px;
justify-content: center;
align-items: center;
gap: 10px;
}
.new-best {
    display: flex;
    justify-content: space-between;
    background: #fff;
    margin: 50px 140px 140px;
    
    
  }
  .best_offer {
    color: red;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    
    padding-top: 50px;
  }
  .best_offer_two {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
   
    
    padding-top:50px ;

  }
  .offer_description {
    width: 393px;
    color: rgba(7, 2, 17, 0.6);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
    height: 128px;
    padding-top: 50px;
  }
  .offer_img {
    width: 463px;
    height: 463px;
    flex-shrink: 0;
    border-radius: 463px;
    border: 15px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .year {
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    color:red;
    text-align: center;
    
  }
  .year_description {
    
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;   
    width: 276px;
    height: 96px;
    text-align: center;
  }
  .offer_img_two {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 276px;
    padding-top: 80px;
  }
  .funtion_part {
    margin: 120px 140px;
    padding-top: 68px;
    padding-bottom: 426px;
  }
  .funtion_title {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #070211;
    text-align: center;
  }
  .Holidays {
    color: lightcoral;
  }
  .funtion_title_two {
    color: #070211;
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 28px;
  }
  .funtion_description {
    width: 882px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 32px;
    color: rgba(7, 2, 17, 0.6);
    font-weight: 500;
  }
  
  .img_section_one {
    width: 429px;
    height: 433px;
    border-radius: 16px 16px 0px 0px;
    background: url(<path-to-image>),
      lightgray -59.98px 0px / 151.553% 100% no-repeat;
  }
  .funtion_img {
    margin: 140px 240px;
    width: 1625px;
    height: 229px;
    border-radius: 16px 0px 16px 16px;
    background: #f00;
    
    position: relative;
  }
  
  .funtiom_img_two {
    position: absolute;
    top: -441px;
    left: 40px;
  }
  .funtion_img_three {
    position: absolute;
    right: 0px;
    top: -433px;
  }
  .discound_img {
    width: 206.841px;
    height: 206.841px;
    top: -346px;
    right: 378px;
    position: absolute;
  }
  .protfolio_section {
    margin: 120px 140px;
  }
  .protfolio_head {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    color: #f00;
    font-weight: 500;
  }
  .protfolio_head_two {
    font-family: 'Merriweather', serif;
    font-size: 48px;
    color: #070211;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 22px;
  }
  .protfolio_description {
    width: 896px;
    color: rgba(7, 2, 17, 0.6);
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
  }
  .protfolio_sectione {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .protfolio_img {
    margin-top: 24px;
    border-radius: 16px;
    width: 424px;
    transition: all linear 0.3s;
    border-radius: 16px;
  }
  .protfolio_img:hover {
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  .subscribe_part {
    margin: 120px 140px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    padding: 80px 212px;
  }
  .subscribe_img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .subscribe_head {
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    text-transform: capitalize;
    margin-bottom: 22px;
  }
  .subcribe_description {
    width: 896px;
    color: rgba(7, 2, 17, 0.6);
    text-align: center;
    margin: 0 auto;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
  }
  .subscribe_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
  }
  .subscribe_button input {
    width: 438px;
    border: none;
    padding: 25px 30px;
    border-radius: 50px 0px 0px 50px;
  }
  .button {
    width: 210px;
    padding: 20px 56px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    background: #f00;
    transition: all linear 0.3s;
    cursor: pointer;
  }
  .button:hover {
    background: yellow;
    color: red;
  }